<div>
	<div>Redirect. Please wait...</div>
	 <form id="adminer_form" method="POST" action="{{ base_url }}/adminer/" enctype="multipart/form-data">
		<input type='hidden' name='auth[driver]' value='sqlite' />
		<input type='hidden' name='auth[username]' value='admin' />
		<input type='hidden' name='auth[password]' value='admin' />
		<input type='hidden' name='auth[db]' value='/data/db/vcs.db' />
		<input type='hidden' name='auth[permanent]' value='1' />
		<button>Value</button>
	</form>
</div>
<script>
	adminer_form.submit();
</script>