<html>
<head>
<style>
.section__wrap{
	width: 1120px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 50px;
}
</style>
</head>
<body>
<div class="section__wrap">
	<h1>Admin Panel for VCS</h1>
	<ul>
		<li><a href="{{ base_url }}/database/">Database</a></li>
		<li><a href="{{ base_url }}/projects/">Projects</a></li>
	</ul>
</div>
</body>
</html>