* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 16px;
}
body{
	padding-top: 20px;
}
.scroll-lock {
	overflow: hidden;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
	padding: 0;
	margin: 0;
	font-size: inherit;
	font-weight: bold;
	line-height: 1.3em;
}
h1, .h1 {
	font-size: 2em;
	margin-bottom: 1em;
}
h2, .h2{
	font-size: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
h3, .h3, h4, .h4 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}
a {
	text-decoration: inherit;
	color: #0000d0;
	cursor: pointer;
}
a:hover, a:visited:hover {
	text-decoration: underline;
	color: red;
}
a:visited {
	text-decoration: inherit;
	color: #0000d0;
}
a.link {
	text-decoration: none;
	color: #0000d0;
	cursor: pointer;
}
a.link:hover, a.link:visited:hover {
	text-decoration: underline;
	color: red;
}
a.link:visited {
	text-decoration: none;
	color: #0000d0;
}
a.link2 {
	text-decoration: none;
	color: inherit;
}
a.link2:hover, a.link2:visited, a.link2:visited:hover {
	text-decoration: underline;
	color: inherit;
}
a.link2:visited {
	text-decoration: none;
	color: inherit;
}
a.nolink {
	text-decoration: inherit;
	color: inherit;
}
a.nolink:hover, a.nolink:visited, a.nolink:visited:hover {
	text-decoration: inherit;
	color: inherit;
}

.cursor {
	cursor: pointer;
}
.nowrap {
	white-space: nowrap;
}
.bold {
	font-weight: bold;
}
.nobold {
	font-weight: normal;
}
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.clear {
	clear: both;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
/*
.disable_radius--left{
	border-top-left-radius: 100%;
	border-bottom-left-radius: 0;
}
.disable_radius--right{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
*/
.inline-middle span,
.inline-middle div,
.inline-middle select,
.inline-middle input{
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}

.block {
	display: block !important;
}
.hidden {
	display: none !important;
}

.b__out {
	display: table;
	width: 100%;
	height: inherit;
}
.b__in {
	display: table-cell;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
}

ol, ul {
	padding: 0;
	margin: 0;
	margin-top: 0;
	margin-bottom: 10px;
	padding-left: 20px;
}

.danger {
	color: red;
}
.success {
	color: lime;
}

/* Button */
.button{
	padding: 12px 24px;
	cursor: pointer;
	border: 1px black solid;
	background-color: #eee;
	outline: 0;
}
.button:hover{
	background-color: #fafafa;
}
.button:active{
	outline: 0;
	background-color: #eee;
	box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
}
.button--small{
	padding: 6px 12px;
	cursor: pointer;
}
.button--danger{
	background-color: rgb(221, 18, 18);
	color: white;
}
.button--danger:hover{
	background-color: rgb(221, 18, 18);
}

/* Input */
.input, .select, .web_form__input{
	padding: 6px 12px;
	background-color: white;
	border: 1px black solid;
	outline: 0;
}

/* Table */
.table{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 100%;
}
.table-wrap{
	text-align: center;
	padding-top: 20px;
}
.table td, .table th{
	padding: 5px;
	border: 1px #ccc solid;
}

/* breadcrumbs*/
.breadcrumbs{
	margin-bottom: 20px;
}
.breadcrumbs__item{
	display: inline-block;
	vertical-align: middle;
}

/* Pagination */
.pagination{
	text-align: center;
}
.pagination ul, .pagination li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.pagination li{
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-right: 5px;
}
.pagination li a, .pagination li a:hover, .pagination li span{
	display: table-cell;
	vertical-align: middle;
	background-color: #fff;
	color: #000;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 14px;
	text-decoration: none;
}
.pagination li.active a{
	background-color: #0000d0;
	color: white;
}

/* Web form */
.web_form__td{
	padding: 5px;
}
.web_form__td_left{
	text-align: right;
}
.web_form__td_right{
	text-align: left;
}
.web_form__row{
	margin-bottom: 10px;
}
.web_form__label, .web_form__description{
	margin-bottom: 5px;
}
.web_form__field_error{
	color: red;
}
.web_form__input{
	width: 100%;
	margin-bottom: 5px;
}
.web_form__buttons{
	text-align: center;
	margin-top: 10px;
}
.web_form__result{
	margin-top: 10px;
	text-align: center;
}
.web_form__result--success{
	color: green;
}
.web_form__result--error{
	color: red;
}
.web_form .inline-middle select, .web_form .inline-middle input{
	width: auto;
}

/* Table */
.web_table{
	border-collapse: collapse;
	border: 1px #ccc solid;
}
.web_table td, .web_table th{
	border: 1px #ccc solid;
	padding: 10px;
	text-align: center;
}
.web_table tr:hover{
	background-color: #eee;
	color: inherit;
}
.web_table tr.nohover:hover{
	background-color: transparent;
}
.web_table tr.active{
	background-color: #337ab7;
	color: white;
}

/* Web group */
.web_group{
	display: flex;
	margin-bottom: 5px;
}
.web_group .web_form__input{
	margin-bottom: 0px;
}
.web_group--button_right .web_form__input{
	border-right: 0px;
}
.web_group__item--full_width{
	width: 100%;
}

/* Section */
.section__wrap{
	width: 1120px;
	margin-left: auto;
	margin-right: auto;
}

/* Disable border */
.disable_border{
	border: 0px;
}
.disable_border--left{
	border-left: 0px;
}
.disable_border--right{
	border-right: 0px;
}
.disable_border--top{
	border-top: 0px;
}
.disable_border--bottom{
	border-bottom: 0px;
}